@charset "UTF-8";
/* CSS Document */

* {
  box-sizing:border-box;
}

html,
body {
  height:100%;
	background-image: url("https://images.unsplash.com/photo-1565267172527-5cad7255d962?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
	background-attachment: fixed;
	background-size: cover;
}

.wrapper {
  width:60%;
  margin: 0 auto;
}

p {
  line-height: 1.8;
}

/*STEP ONE
Using an appropriate unit of measurement, change the default sizes of your headings and body paragraph and the line-height of your body text. Ensure that the size you choose is appropriate for readability.*/
header h1{
  font-size: 2.45rem;
  line-height: 3.5;
}

h2{
  font-size: 1.75rem;
  color:blue;
  line-height: 2;
}

footer{
  font-size: 1rem;
  text-align: center;
  line-height: 0.5;
}

/* STEP TWO - Include interesting fonts */
/* Choose a Google Font and a web font that work well together. Include both font selections using CSS (i.e. one for headings, one for body copy).*/

h2{
	font-family: 'Aladin', cursive;
}

p{
	font-family: 'Merriweather', serif;
}

footer{
	font-family:"Andale Mono", monospace;
}

/* STEP THREE *  - Style the links /
/

/* STEP THREE *  - Style the links /
/* Style the links included in the first paragraph in an interesting and creative way. Remember to style them in the appropriate order and follow best practices */

/*love fears hate*/

a{
  outline: none;
  text-decoration: none;
  display: inline-block;
  border: 3px solid  #EA0609;
  width: 20%;
  height:40%;
  margin-left: 60%;
  text-align: center;
  line-height:2;
  background-color: #B7E455;
  }

a:link{
color:#3864CD;
}

a:visited{
  color:#C51873;
  background-color: #B4EDD8;
}

a:focus{
  background-color: #1F0740;
}

a:hover{
  color: yellow;
  background-color: grey;
}

a:active{
  color:#C0FF00;
  background-color: pink;
}


/* STEP FOUR - Style the list */
/* - Style the list so that it maintains vertical rhythym with other content on the page
   - Give the unordered list square bullets
  -  Give the ordered list lower alphabetical bullets
  - Add any other creative touches to style the list and embedded list
*/

ol ul>li {
  list-style-type:square;
  font-family: "Baskerville",serif;
  font-size: 16px;
}

ol>li{
	list-style-type: lower-alpha;
}

ul,
ol {
    line-height: 1.96;
}

ol>li{
	font-family: 'Verdana', sans-serif;
  font-size: 18px;
}

li{
  font-weight: bolder;
}
/* STEP FIVE - Zip up your code and submit on BB! This is Module 3 lab! If you want to take extra time to complete, it's due on March 11th @ 11:59pm */
